<!DOCTYPE html>
<html>
<head>
	<title> Angular JS Assignment 5</title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script type="text/javascript">
		var module= angular.module("myapp", []);
		module.controller("myctrl", function($scope){
			$scope.emp={Name:"Sukriti Kakkar",EmployeeID:"5047", Designation:"SDE"}
		});

	</script>
</head>
<body ng-app="myapp">
<div  ng-controller="myctrl">
Name: <input  ng-model="emp.Name">
EmployeeID: <input ng-model="emp.EmployeeID">
Designation: <input ng-model="emp.Designation">
	
</div>

</body>
</html>
